/*
product-color: #f64a73    (pink)
dark-color: #313131       (grey)
success-color: #31d5b4    (greenish)
highlight-color: #318bd5  (blueish)

font-family: 'Open Sans', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
::selection{
    color: #fff;
    background-color: rgba(246, 74, 114, 0.849);
}
/*____navigation____*/
nav{
    display: block;
    background-color: #313131;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9999;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
/* __________header________*/
header{
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.sec-head-col-1{
    background-color: #f64a73;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}
.sec-head-col-2{
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/head-bg-1.jpg);
    background-position: top;
    background-size: cover;
}
h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 90px;
    color: #ffffff;
}
h1 span{
    color: #318bd5;
    font-size: 80px;
}
.head-h1-h2-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h2{
    display: block;
    padding: 0;
    color: #000;
    text-align: center;
}
@media only screen and (max-width:550px){
    .sec-head-col-1{
        height: 50%;
        width: 100%;
    }
    .sec-head-col-2{
        height: 50%;
        width: 100%;
    }
    h1{
        font-size: 60px;
    }
}